@charset "utf-8";

/*ν—¤λ”*/

* {margin: 0; padding: 0; box-sizing: border-box;}
.a {cursor:pointer;}

#wrap {width: 100%; height: auto;}

#header {width: 100%; height: 100px; display: flex; 
margin: 0 auto; display:flex; align-items:center; justify-content:space-between; }

#header >.small {width: 1200px; height: 100px; margin:0 auto; 
display: flex; justify-content: space-between;}

.small > .logo {display: inline-block; width: 100px; height: 50px;
margin: 30px 0 0 0px;}

.b {width: 700px; height: 50px; 
display:inline-block; margin: 25px 20px 0 0px;}

#header .b ul {display:flex; }
#header .b ul li a {padding:15px; display:block; color:white; font-weight:bold; font-size:19px;}
#header .b ul li:nth-of-type(1) {color:purple; font-weight:bold; padding:15px 10px 0 0; font-size:19px;}

#header .b ul li img {background-color:white;}

#header .b ul li a:hover {text-decoration:underline;}
.a {display:none;}
.b {display:block;}

.i {width:100px; font-size:30px; cursor:pointer; opacity: 1;}
li a i:hover {opacity: 0.5;}


/*ν‘Έν„°*/

#text_8 {width: 100%; height: 300px; 
    background-color: #2b1440; text-align: center;}

#footertext { width:1200px; height:200px; padding: 70px 0; margin: 0 auto;}

#footertext > img {width: 230px; height: 50px; }

#footertext > p {color: #FFF; line-height: 30px; padding: 20px;}

.icon {width: 1200px; height: 50px; display: block; margin-top: 10px; cursor: pointer; }